@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0f172a;
}

/* Reusable styles */
.input {
  @apply w-full p-2 mb-3 rounded bg-slate-700 border border-slate-600 text-white;
}

.btn-primary {
  @apply w-full bg-blue-600 hover:bg-blue-700 p-2 rounded font-semibold;
}

.btn-secondary {
  @apply w-full bg-slate-600 hover:bg-slate-700 p-2 rounded font-semibold;
}
